<div class="container">
	<div class="row">
		<div class="col-4">
			<div class="row align-items-center justify-content-center">
				<div class="col-auto">
					<h1 [routerLink]="['budget']">Бюджет</h1>
				</div>
				<div class="col-auto">
					<span>1500</span>
				</div>
			</div>

			<div class="row align-items-center justify-content-center">
				<div class="col-auto">
					<h1 [routerLink]="['expenses']">Расходы</h1>
				</div>
				<div class="col-auto">
					<span>1500</span>
				</div>
			</div>

			<div class="row align-items-center justify-content-center">
				<div class="col-auto">
					<h1 [routerLink]="['for-beer']">На пиво</h1>
				</div>
				<div class="col-auto">
					<span>1500</span>
				</div>
			</div>
		</div>
		<div class="col-auto">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>


